body, html {
  height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #22222b;
}

.main {
  background-image: url(../images/header-background.png);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .header {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .header .nav .header_nav-list {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 0;
}

.main .header .nav .header_nav-list .header_nav-item {
  margin-left: 24px;
}

.main .header .nav .header_nav-list .header_nav-item .header_nav-link {
  color: #22222b;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.main .header .nav .header_nav-list .header_nav-item .header_nav-link:hover {
  border-bottom: 1px solid #22222b;
}

.main .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
  text-align: center;
}

.main .wrapper .title-h1 {
  font-size: 60px;
  font-weight: 300;
}

.main .wrapper .title-h1 span {
  font-weight: 500;
}

.main .btn-scroll {
  background-color: transparent;
  border: none;
  display: block;
  margin: 0 auto;
}

.section-about {
  padding-top: 240px;
  padding-bottom: 132px;
}

.section-about .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-about .wrapper .box_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-about .wrapper .box_about-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
  position: relative;
}

.section-about .wrapper .box_about-item:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.section-about .wrapper .box_about-item .title-h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 12px;
}

.section-about .wrapper .box_about-back {
  position: absolute;
  z-index: -1;
  left: 0;
  top: -108px;
}

.section-about .wrapper .box_about-vertical {
  position: absolute;
  left: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  bottom: 151px;
  font-size: 16px;
}

.section-about .wrapper .box_about-vertical::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 45px;
  background-color: #22222b;
  right: 12px;
  top: 92px;
}

.section-about .wrapper .box_about-text {
  color: #7f7f82;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 48px;
}

.section-about .wrapper .box_about .progress_bar-text {
  font-size: 16px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  margin-bottom: 20px;
}

.section-about .wrapper .box_about .progress_bar-line {
  width: 100%;
  height: 2px;
  background-color: #22222b;
  position: relative;
}

.section-about .wrapper .box_about .progress_bar-line::before {
  position: absolute;
  content: "";
  background-image: url(../images/circle.png);
  background-repeat: no-repeat;
  display: block;
  width: 6px;
  height: 11px;
  left: 0;
  top: calc(50% - 5px);
}

.section-about .wrapper .box_about .progress_bar-line::after {
  position: absolute;
  content: "";
  right: 0;
  display: block;
  height: 2px;
  background-color: #f2f2f2;
}

.section-about .wrapper .box_about .progress_bar--indesign::after {
  width: 35%;
}

.section-about .wrapper .box_about .progress_bar--xd::after {
  width: 20%;
}

.section-service {
  background: #faf9fe;
  padding-top: 120px;
  padding-bottom: 100px;
}

.section-service .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-service .wrapper .title-h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.section-service .wrapper .after-title {
  font-size: 16px;
  color: #7f7f82;
}

.section-service .wrapper .service {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px 48px;
  -ms-grid-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: 1fr 1fr / 1fr 1fr 1fr;
  margin-top: 65px;
}

.section-service .wrapper .service__item:hover .service__item-text {
  width: initial;
  opacity: 1;
  padding-right: 9px;
}

.section-service .wrapper .service__item-icon {
  display: block;
  width: 44px;
  height: 36px;
  margin-bottom: 30px;
}

.section-service .wrapper .service__item-design {
  background: url(../images/icon-01.png);
  background-size: 41px 35px;
  background-repeat: no-repeat;
}

.section-service .wrapper .service__item-photo {
  background: url(../images/icon-02.png);
  background-size: 41px 35px;
  background-repeat: no-repeat;
}

.section-service .wrapper .service__item-web {
  background: url(../images/icon-03.png);
  background-size: 41px 35px;
  background-repeat: no-repeat;
}

.section-service .wrapper .service__item-socia {
  background: url(../images/icon-04.png);
  background-size: 41px 35px;
  background-repeat: no-repeat;
}

.section-service .wrapper .service__item-marketing {
  background: url(../images/icon-05.png);
  background-size: 41px 35px;
  background-repeat: no-repeat;
}

.section-service .wrapper .service__item-app {
  background: url(../images/icon-06.png);
  background-size: 41px 35px;
  background-repeat: no-repeat;
}

.section-service .wrapper .service__item-text {
  color: #7f7f82;
  font-size: 14px;
  line-height: 1.8;
}

.section-service .wrapper .service__item .title-h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 18px;
}

.section-service .wrapper .service__item-link {
  color: #22222b;
  font-size: 14px;
  text-decoration: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  height: 50px;
}

.section-service .wrapper .service__item-link .service__item-text {
  opacity: 0;
  width: 0;
  padding-right: 0;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.section-service .wrapper .service__item-link .service__item-line {
  display: block;
  width: 25px;
  height: 1px;
  background: #22222b;
}

.section-portfolio {
  padding-top: 120px;
  padding-bottom: 100px;
}

.section-portfolio .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-portfolio .wrapper .title-h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.section-portfolio .wrapper .after-title {
  font-size: 16px;
  color: #7f7f82;
}

.section-portfolio .wrapper .portfolio {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (83px)[7];
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template: repeat(7, 83px)/1fr 1fr 1fr;
  grid-gap: 40px;
  margin-top: 80px;
}

.section-portfolio .wrapper .portfolio-01 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.section-portfolio .wrapper .portfolio-02 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1 / 5;
}

.section-portfolio .wrapper .portfolio-03 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / 4;
}

.section-portfolio .wrapper .portfolio-04 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / 8;
}

.section-portfolio .wrapper .portfolio-05 {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  grid-row: 5 / 8;
}

.section-portfolio .wrapper .portfolio-06 {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
  -ms-grid-row: 4;
  -ms-grid-row-span: 4;
  grid-row: 4 / 8;
}

.section-portfolio .wrapper .portfolio__thumb {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.section-portfolio .wrapper .portfolio img {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.section-banner {
  padding: 100px 0;
  background-color: #22222b;
  color: white;
  text-align: center;
}

.section-banner .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-banner .wrapper .before-title {
  font-size: 22px;
  margin-bottom: 0;
}

.section-banner .wrapper .title-h2 {
  font-size: 48px;
  margin-top: 15px;
  margin-bottom: 42px;
}

.section-banner .wrapper .btn {
  color: #22222b;
  background-color: white;
  padding: 12px 57px;
}

.btn {
  color: white;
  background-color: #22222b;
  font-size: 16px;
  padding: 20px 0;
  text-decoration: none;
  border: none;
}

.section-feedback {
  padding: 100px 0;
}

.section-feedback .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-feedback .wrapper .title-h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.section-feedback .wrapper .after-title {
  font-size: 16px;
  color: #7f7f82;
}

.section-feedback .wrapper .feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 66px;
}

.section-feedback .wrapper .feedback-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  max-width: 45%;
}

.section-feedback .wrapper .feedback-item .feedback-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 56px;
}

.section-feedback .wrapper .feedback-item .feedback-top .feedback_thumb {
  margin-right: 20px;
}

.section-feedback .wrapper .feedback-item .feedback-top .feedback_name-title {
  font-size: 22px;
  margin-top: 14px;
  margin-bottom: 11px;
}

.section-feedback .wrapper .feedback-item .feedback-top .feedback_name-job {
  font-size: 12px;
  color: #7f7f82;
}

.section-feedback .wrapper .feedback-item .feedback-body {
  font-size: 18px;
  color: #7f7f82;
  font-style: italic;
  padding-left: 28px;
  line-height: 1.8;
}

.section-advantages {
  background: #faf9fe;
  padding: 100px 0;
}

.section-advantages .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-advantages .wrapper .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.section-advantages .wrapper .advantages .advantages_icon {
  width: 70px;
  height: 70px;
  background-color: #22222b;
  border-radius: 100%;
  margin: 0 auto;
  margin-bottom: 27px;
  background-position: center center;
  background-repeat: no-repeat;
}

.section-advantages .wrapper .advantages .advantages_icon-01 {
  background-image: url(../images/heart.png);
  background-size: 26px 23px;
}

.section-advantages .wrapper .advantages .advantages_icon-02 {
  background-image: url(../images/project.png);
  background-size: 26px 23px;
}

.section-advantages .wrapper .advantages .advantages_icon-03 {
  background-image: url(../images/experience.png);
  background-size: 26px 23px;
}

.section-advantages .wrapper .advantages .advantages_icon-04 {
  background-image: url(../images/awards.png);
  background-size: 26px 23px;
}

.section-advantages .wrapper .advantages .advantages_title {
  font-size: 16px;
  text-transform: uppercase;
}

.section-advantages .wrapper .advantages .advantages_title span {
  font-size: 22px;
  display: block;
  font-weight: 500;
  margin-bottom: 13px;
}

.section-form {
  padding: 100px 0;
}

.section-form .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

.section-form .wrapper .title-h2 {
  font-size: 36px;
  font-weight: 400;
  margin: 0 0 20px 0;
}

.section-form .wrapper .after-title {
  font-size: 16px;
  color: #7f7f82;
}

.section-form .wrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 750px;
  margin: 48px auto 0;
  text-align: center;
}

.section-form .wrapper .form_input, .section-form .wrapper .form_textarea {
  border: none;
  border-bottom: 1px solid #e1e1e1;
  font-size: 14px;
  padding: 17px 25px;
  text-align: center;
  margin-bottom: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-form .wrapper .form_input:focus, .section-form .wrapper .form_textarea:focus {
  outline: none;
  border-bottom: 1px solid #22222b;
}

.section-form .wrapper .form_textarea {
  padding: 12px 25px;
  min-height: 86px;
  margin-bottom: 35px;
}

footer {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #22222b;
  color: white;
  font-size: 16px;
}

footer .wrapper {
  max-width: 1170px;
  padding: 0 16px;
  margin: 0 auto;
}

footer .wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #22222b;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .wrapper .footer .social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

footer .wrapper .footer .social-network-item {
  margin-left: 20px;
}

footer .wrapper .footer .social-network-link {
  color: white;
}
/*# sourceMappingURL=main.css.map */